.body {
    background: #dad252;
}

.form {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    border-radius: 20px;
}

input,
button {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #efbbbf;
    cursor: pointer;
}

button {
    text-transform: uppercase;
}